<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925430813302-rgi0ehp9cn2pp46h7buqsag3jtik0rel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925430813302-rgi0ehp9cn2pp46h7buqsag3jtik0rel</string>
	<key>API_KEY</key>
	<string>AIzaSyCYPMnKhmhNUzTUzwlOvgg3XYsyMGRBB3s</string>
	<key>GCM_SENDER_ID</key>
	<string>925430813302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lpa.lpaandco</string>
	<key>PROJECT_ID</key>
	<string>appli-lpa-and-co</string>
	<key>STORAGE_BUCKET</key>
	<string>appli-lpa-and-co.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925430813302:ios:7e38f0c1610ea43068c557</string>
	<key>DATABASE_URL</key>
	<string>https://appli-lpa-and-co.firebaseio.com</string>
</dict>
</plist>